<div style="font-family: Arial, Helvetica, sans-serif;
 background-color: #998afb;padding: 10px;
  font-size: 16px; line-height: 1.6; color: #222; 
  max-width: 600px; border-radius: 20px;
   box-shadow: 2px 2px 5px 2.5px rgba(0, 0, 0, 0.5);
    color: #ffffff"">
 {{{ body }}}
 {{> footer}}
</div>