<h2 style="margin-bottom: 25px">Olá, {{ name }} </h2>
<h3>Cancelamento de entrega:</h3>
<p>Detalhes do cancelamento abaixo:</p>
<p>
  <strong>Identificador da Entrega:</strong> {{ id }} <br>
  <strong>Produto:</strong> {{ product }} <br><br>

  <strong>Data/Hora do cancelamento:</strong> {{ canceled_date }} <br>
</p>